@{
    ViewData["Title1"] = "Hola mundo para probar la 3ra rama";
     ViewData["Title3"] = "Rama primera itzel";
       ViewData["Title"] = "Cambiar para rama de";

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>